# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment folders (ignore virtual environments like venv or env)
venv/
ENV/
env/
.venv/

# Dependency directories
node_modules/
pip-log.txt
pip-delete-this-directory.txt

# Python package distribution files
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE configurations (VSCode, PyCharm, etc.)
.vscode/
.idea/

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db

# Environment variables file (if you are storing keys, secrets, etc.)
.env
